<!doctype html>
<html ng-app="MyApp">
  <head>
    <title>angular</title>
  </head>
  <body ng-controller="CartController">
    <div ng-repeat="item in items">
      <span>{{item.title}}</span>
      <input ng-model="item.quantity">
      <span>{{item.price | currency}}</span>
      <span>{{item.price * item.quantity | currency}}</span>
      <button ng-click="remove($index)">削除</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="controller.js"></script>
  </body>
</html>
