<!doctype html>
<html ng-app="MyApp">
  <head>
    <title>angular</title>
  </head>
  <body>
    <div ng-controller="DeathrayMenuController">
      <button ng-click="toggleMenu()">メニューをトグル</button>
      <ul ng-show="menuState.show">
        <li ng-click="strun()">気絶</li>
        <li ng-click="disntegrate()">崩壊</li>
        <li ng-click="erase()">歴史から消去</li>
      </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="controller.js"></script>
  </body>
</html>
